@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color variables  */
  --primary-color-rgb: 242, 108, 79;
  --bg-color-rgb: 0, 32, 60;
  --border-color-rgb: 36, 91, 139;
  --card-background-rgb: 24, 47, 93;

  --primary-color: rgb(var(--primary-color-rgb));
  --bg-dark-color: rgb(var(--bg-color-rgb));
  --border-color: rgb(var(--border-color-rgb));
  --card-background: rgb(var(--card-background-rgb));
}

/*----------------------------------------
   01. CUSTOM UTILITY CLASSES
----------------------------------------*/

.btn {
  display: flex;
  column-gap: 0.25rem;
  padding: 1.75rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
  letter-spacing: 0.25rem;
  align-items: center;
  transition-duration: 300ms;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.btn-primary {
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #f4f4f5;
}

.btn-primary:hover {
  background-color: rgb(var(--primary-color-rgb), 0.99);
}

.btn:hover {
  column-gap: 0.75rem;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25rem;
  border-left: 4px solid var(--primary-color);
  padding-left: 2rem;
  color: #6a6a6a;
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #1f2732;
  text-transform: capitalize;
}

.bg-heading {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.bg-heading h2 {
  color: #f4f4f5;
}

.bg-heading::before {
  content: "";
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-family: "Dancing Script", cursive;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
  .section-title {
    padding-left: 1.5rem;
  }

  .section-heading {
    font-size: 2.25rem;
  }

  .bg-heading::before {
    font-size: 5rem;
  }
}

#hero::before {
  content: "";
  position: absolute;
  --bg-opacity: 0.9;
  background: linear-gradient(
      rgba(var(--bg-color-rgb), var(--bg-opacity)),
      rgba(var(--bg-color-rgb), var(--bg-opacity))
    ),
    url("../images/background/meeting-594091_1280.jpg");
  bottom: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.show-menu {
  display: flex !important;
}

.download-btn i {
  position: absolute;
  animation: scrolli 2s infinite;
  -webkit-animation: scrolli 2s infinite;
}

@keyframes scrolli {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30%;
    opacity: 0.5;
  }
  100% {
    top: 80%;
    opacity: 0;
  }
}

/*----------------------------------------
   06. SERVICES css
----------------------------------------*/
.services-section::before {
  content: "";
  position: absolute;
  --bg-opacity: 0.9;
  background: url("https://livvic-jekyll.tortoizthemes.com/assets/images/service-bg.svg");
  bottom: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service-card:hover .card-icon-box {
  background: var(--primary-color);
}

/*----------------------------------------
   07. PORTFOLIO css
----------------------------------------*/
/* Portfolio card  */
.portfolio-cards {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

.single-portfolio-card {
  position: relative;
  overflow: hidden;
  transition-duration: 500ms;
  width: 100%;
  height: 100%;
}

.single-portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 300ms;
  height: 350px;
  cursor: pointer;
}

.portfolio-sliding-content {
  position: absolute;
  bottom: 2rem;
  right: -100%;
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f5;
  transition-duration: 300ms;
  padding: 2rem;
}

.single-portfolio-card:hover .portfolio-sliding-content {
  right: 0;
}

.single-portfolio-card:first-child img {
  height: 100%;
}

.single-portfolio-card:first-child {
  grid-row: span 2;
}

.portfolio-sliding-content .btn {
  aspect-ratio: 1/1;
  padding: 1rem;
  font-size: 1.25rem;
}

.portfolio-sliding-content .btn:hover {
  background-color: var(--bg-dark-color);
}

.portfolio-sliding-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

/* Project Section  */
.project-section::before {
  content: "";
  position: absolute;
  --bg-opacity: 0.9;
  background: url("https://livvic-jekyll.tortoizthemes.com/assets/images/cta-bg.svg");
  bottom: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-section .container::before {
  content: "projects";
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-family: "Dancing Script", cursive;
}

/*----------------------------------------
   09. VIDEO SECTION css
----------------------------------------*/
.video-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -1;
  --bg-opacity: 0.3;
  background: linear-gradient(
      rgba(var(--bg-color-rgb), var(--bg-opacity)),
      rgba(var(--bg-color-rgb), var(--bg-opacity))
    ),
    url("../images/background/virtual-3460451_1280.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.video-play-btn {
  animation: shadow-pulse 2s infinite;
}

.video-play-btn:hover {
  animation-play-state: paused;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.5);
  }
}

.video-section-title::before {
  content: "video";
  position: absolute;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
  z-index: +1;
  font-family: "Dancing Script", cursive;
}

/*----------------------------------------
   11. PRICING SECTION css
----------------------------------------*/
.single-pricing-card:hover .plan-name {
  background-color: #07017a;
}

.single-pricing-card:hover .plan-details h3 {
  color: #f4f4f5;
}

.single-pricing-card:hover .hidden-details {
  margin-top: 0;
  opacity: 1;
  z-index: 0;
}

/* --------------------------------
    CONTACT SECTION css
 ---------------------------------*/
footer::before {
  content: "";
  position: absolute;
  --bg-opacity: 0.9;
  background: url("https://livvic-jekyll.tortoizthemes.com/assets/images/footer-bg.svg");
  bottom: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer .bg-heading::before {
  content: "Contact Us";
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .about-menu {
    grid-template-columns: repeat(2, auto);
  }

  .portfolio-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .project-section .container::before {
    font-size: 6rem;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
  .portfolio-section .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .project-section .container::before {
    font-size: 8rem;
  }

  .video-section-title::before {
    font-size: 6rem;
  }

  /*----------------------------------------
   11. CONTACT SECTION css
   --------------------------------------- */

  .footer-contact-us-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-contact-us-form .textarea-box {
    grid-column: span 3;
  }

  footer .btn-primary {
    grid-column: span 3;
  }

  .footer-info .container {
    justify-content: space-between;
  }
}
