.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  column-gap: 0.25rem;
  padding: 1.75rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
  letter-spacing: 0.25rem;
  align-items: center;
  transition-duration: 300ms;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.btn-primary {
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #f4f4f5;
}

.btn-primary:hover {
  background-color: rgb(var(--primary-color-rgb), 0.99);
}

.btn:hover {
  column-gap: 0.75rem;
}

.btn-play {
  background-color: rgb(2, 28, 52);
  padding: 1.5rem 1.75rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin-left: 2rem;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25rem;
  border-left: 4px solid var(--primary-color);
  padding-left: 2rem;
  color: #6a6a6a;
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #1f2732;
  text-transform: capitalize;
}

.bg-heading {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.bg-heading h2 {
  color: #f4f4f5;
}

.bg-heading::before {
  content: "";
  position: absolute;
  font-size: 5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-family: "Dancing Script", cursive;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
  .section-title {
    padding-left: 1.5rem;
  }

  .section-heading {
    font-size: 2.25rem;
  }
}
